@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #222;
}
main{
    float: left;
    width: 80%;
    margin-left: 10px;
}

aside{
    width: 300px;
    float: right;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}